http_interactions:
- request:
    method: get
    uri: https://geocoding-api.open-meteo.com/v1/search?count=1&format=json&language=en&name=Lisbon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "results": [
            {
              "name": "Lisbon",
              "latitude": 38.7223,
              "longitude": -9.1393,
              "country": "Portugal",
              "admin1": "Lisbon"
            }
          ]
        }
  recorded_at: Mon, 12 Aug 2024 10:34:00 GMT
- request:
    method: get
    uri: https://api.sunrisesunset.io/json?lat=38.7223&lng=-9.1393&date=2024-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "results": {
            "sunrise": "2024-08-01T05:30:15+00:00",
            "sunset": "2024-08-01T19:45:22+00:00",
            "solar_noon": "2024-08-01T12:37:49+00:00",
            "day_length": "14:15:07"
          },
          "status": "OK"
        }
  recorded_at: Mon, 12 Aug 2024 10:34:05 GMT