http_interactions:
- request:
    method: get
    uri: https://api.sunrisesunset.io/json?lat=38.7223&lng=-9.1393&date_start=2024-08-01&date_end=2024-08-03
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "results": [
            {
              "sunrise": "2024-08-01T05:30:15+00:00",
              "sunset": "2024-08-01T19:45:22+00:00",
              "solar_noon": "2024-08-01T12:37:49+00:00",
              "day_length": "14:15:07",
              "civil_twilight_begin": "2024-08-01T05:00:45+00:00",
              "civil_twilight_end": "2024-08-01T20:14:52+00:00",
              "nautical_twilight_begin": "2024-08-01T04:24:15+00:00",
              "nautical_twilight_end": "2024-08-01T20:51:22+00:00",
              "astronomical_twilight_begin": "2024-08-01T03:45:30+00:00",
              "astronomical_twilight_end": "2024-08-01T21:30:07+00:00",
              "timezone": "Europe/Lisbon",
              "utc_offset": 3600
            },
            {
              "sunrise": "2024-08-02T05:31:20+00:00",
              "sunset": "2024-08-02T19:44:15+00:00",
              "solar_noon": "2024-08-02T12:37:48+00:00",
              "day_length": "14:12:55",
              "civil_twilight_begin": "2024-08-02T05:01:52+00:00",
              "civil_twilight_end": "2024-08-02T20:13:43+00:00",
              "nautical_twilight_begin": "2024-08-02T04:25:25+00:00",
              "nautical_twilight_end": "2024-08-02T20:50:10[...]
