http_interactions:
- request:
    method: get
    uri: https://api.sunrisesunset.io/json?lat=38.7223&lng=-9.1393&date=2024-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "results": {
            "sunrise": "2024-08-01T05:30:15+00:00",
            "sunset": "2024-08-01T19:45:22+00:00",
            "solar_noon": "2024-08-01T12:37:49+00:00",
            "day_length": "14:15:07",
            "civil_twilight_begin": "2024-08-01T05:00:45+00:00",
            "civil_twilight_end": "2024-08-01T20:14:52+00:00",
            "nautical_twilight_begin": "2024-08-01T04:24:15+00:00",
            "nautical_twilight_end": "2024-08-01T20:51:22+00:00",
            "astronomical_twilight_begin": "2024-08-01T03:45:30+00:00",
            "astronomical_twilight_end": "2024-08-01T21:30:07+00:00"
          },
          "status": "OK"
        }
  recorded_at: Mon, 12 Aug 2024 10:32:00 GMT