http_interactions:
- request:
    method: get
    uri: https://api.sunrisesunset.io/json?lat=78.9167&lng=11.9500&date=2024-12-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "results": {
            "sunrise": null,
            "sunset": null,
            "solar_noon": "2024-12-21T11:30:00+00:00",
            "day_length": "00:00:00",
            "civil_twilight_begin": null,
            "civil_twilight_end": null,
            "nautical_twilight_begin": null,
            "nautical_twilight_end": null,
            "astronomical_twilight_begin": null,
            "astronomical_twilight_end": null
          },
          "status": "OK"
        }
  recorded_at: Mon, 12 Aug 2024 10:33:00 GMT